<div class="container mt-3">
    <h4>Registration Form</h4>
    <form [formGroup]="registrationForm" (ngSubmit)="register()">
        <!-- name -->
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input formControlName="name" type="text" id="name" placeholder="Name" class="form-control" />

            <!-- validations -->
            <div *ngIf="isFormSubmitted  || _registrationForm['name'].dirty || _registrationForm['name'].touched">
                <!-- required validation -->
                <div *ngIf="_registrationForm['name'].errors?.['required']" class="text-danger">
                    Name is required
                </div>

                <!-- max length validation -->
                <div *ngIf="_registrationForm['name'].errors?.['maxlength']" class="text-danger">
                    The maximum length for this field is {{ _registrationForm['name'].errors?.['maxlength'].requiredLength }} characters
                </div>
            </div>
        </div>

        <!-- email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input formControlName="email" type="email" id="email" placeholder="Email" class="form-control" />
            <!-- validations -->
            <div *ngIf="isFormSubmitted || _registrationForm['email'].dirty || _registrationForm['email'].touched">
                <!-- required validation -->
                <div *ngIf="_registrationForm['email'].errors?.['required']" class="text-danger">
                    Email is required
                </div>

                <!-- email validation -->
                <div *ngIf="_registrationForm['email'].errors?.['email']" class="text-danger">
                    Please enter a valid email
                </div>

                <!-- email taken -->
                <div *ngIf="_registrationForm['email'].errors?.['emailTaken']" class="text-danger">
                    Email taken, Please try another email
                </div>

            </div>
        </div>

        <!-- phone -->
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input formControlName="phone" id="phone" placeholder="Phone" class="form-control" />

            <!-- validations -->
            <div *ngIf="isFormSubmitted || _registrationForm['phone'].dirty || _registrationForm['phone'].touched">
                <!-- required validation -->
                <div *ngIf="_registrationForm['phone'].errors?.['required']" class="text-danger">
                    Phone is required
                </div>

                <!-- min length validation -->
                <div *ngIf="_registrationForm['phone'].errors?.['minlength']" class="text-danger">
                    The minimum length for this field is {{ _registrationForm['phone'].errors?.['minlength'].requiredLength }} characters
                </div>

                <!-- max length validation -->
                <div *ngIf="_registrationForm['phone'].errors?.['maxlength']" class="text-danger">
                    The maximum length for this field is {{ _registrationForm['phone'].errors?.['maxlength'].requiredLength }} characters
                </div>

                <!-- pattern validation -->
                <div *ngIf="_registrationForm['phone'].errors?.['pattern']" class="text-danger">
                    Please enter numeric values
                </div>
            </div>
        </div>

        <!-- gender -->
        <div class="mb-3">
            <!-- static -->
            <label for="gender" class="form-label">Gender</label>
            <div class="form-check">
                <input formControlName="gender" type="radio" name="gender" value="male" id="male" class="form-check-input" />
                <label for="male" class="form-check-label">Male</label>
                <br>
                <input formControlName="gender" type="radio" name="gender" value="female" id="female" class="form-check-input" />
                <label for="female" class="form-check-label">Female</label>
            </div>

            <!-- validations -->
            <div *ngIf="isFormSubmitted">
                <!-- required validation -->
                <div *ngIf="_registrationForm['gender'].errors?.['required']" class="text-danger">
                    Gender is required
                </div>
            </div>
        </div>

        <div class="form-group row" formGroupName="passwords">
            <!-- password -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input formControlName="password" type="password" id="password" placeholder="Password" class="form-control" (focusout)="passwordShouldMatch()" />

                <!-- validations -->
                <div *ngIf="isFormSubmitted  || _passwords?.get('password')?.dirty || _passwords?.get('password')?.touched">
                    <!-- required validation -->
                    <div *ngIf="_passwords?.get('password')?.errors?.['required']" class="text-danger">
                        Password is required
                    </div>

                    <!-- max length validation -->
                    <div *ngIf="_passwords?.get('password')?.errors?.['maxlength']" class="text-danger">
                        The maximum length for this field is {{ _passwords?.get('password')?.errors?.['maxlength'].requiredLength }} characters
                    </div>

                    <!-- min length validation -->
                    <div *ngIf="_passwords?.get('password')?.errors?.['minlength']" class="text-danger">
                        The minimum length for this field is {{ _passwords?.get('password')?.errors?.['minlength'].requiredLength }} characters
                    </div>
                </div>
            </div>

            <!-- confirm password -->
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm password</label>
                <input formControlName="confirmPassword" type="password" id="confirmPassword" placeholder="Confirm password" class="form-control" ((input))="passwordShouldMatch()" />

                <!-- validations -->
                <div *ngIf="isFormSubmitted  || _passwords?.get('confirmPassword')?.dirty || _passwords?.get('confirmPassword')?.touched">
                    <!-- required validation -->
                    <div *ngIf="_passwords?.get('confirmPassword')?.errors?.['required']" class="text-danger">
                        Confirm password is required
                    </div>

                    <!-- confirm password validation  -->
                    <div *ngIf="_passwords?.get('confirmPassword')?.errors?.['pattern']" class="text-danger">
                        Password does not match with password field
                    </div>
                </div>
            </div>
        </div>

        <!-- button  -->
        <button [disabled]="inSubmission" class="btn btn-primary mt-3" type="submit">Submit</button>
        <!-- <button class="btn btn-primary mt-3" type="submit" [disabled]="registrationForm.invalid">Submit</button> -->
    </form>
</div>

<!-- loader -->
<ngx-ui-loader></ngx-ui-loader>