<!-- <p>{{stidentInfo | json}}</p> -->
<!-- Student Details Table -->
<div class="container mt-5">
    <h4>Student Detail</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Institute Name</th>
                <th scope="col">City</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{stidentInfo.gender | genderTitle}} {{stidentInfo.firstName +" "+ stidentInfo.lastName | uppercase}}</th>
                <th>{{stidentInfo.gender}}</th>
                <th>{{stidentInfo.instituteName}}</th>
                <th>{{stidentInfo.city}}</th>
                <th>{{stidentInfo.description}}</th>
            </tr>
        </tbody>
    </table>
</div>