<div class="login_outer_container">
    <div class="login_inner_container">
        <div class="row">
            <!-- form title  -->
            <div class="col-sm-12">
                <h3 class="title">Login</h3>
            </div>

            <div class="col-sm-12 mt-3">
                <!-- form  -->
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="row">
                        <!-- email  -->
                        <div class="col-sm-12 pd_non">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" id="inpEmail" required>
                                <mat-error *ngIf="isFormSubmitted  || _loginForm['email'].dirty || _loginForm['email'].touched">
                                    <mat-error *ngIf="_loginForm['email'].errors?.['required']">Email is required</mat-error>
                                    <mat-error *ngIf="_loginForm['email'].errors?.['email']">Email is not valid</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!-- password  -->
                        <div class="col-sm-12 pd_non">
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput formControlName="password" id="inpPassword" required>
                                <mat-error *ngIf="isFormSubmitted  || _loginForm['email'].dirty || _loginForm['email'].touched">
                                    <mat-error *ngIf="_loginForm['password'].errors?.['required']">Password is required</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- button -->
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" mat-raised-button class="submit-btn">Submit</button>
                        </div>
                    </div>
                </form>

                <!-- registration link  -->
                <hr>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h4>Don't have an Account? <a class="link-text" (click)="navigate()">Register Now!</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>