<!-- Sidebar -->
<nav id="sidebar">
    <!-- Sidebar title -->
    <nav class="navbar navbar-light sideBarNav mb-3">
        <div class="container-fluid p-1 d-flex justify-content-center text-18 bold ttl_text">
            <h1>MySchool</h1>
        </div>
    </nav>
    <!-- Sidebar links -->
    <ul class="list-unstyled navbarList">
        <li class="mt-2">
            <a class="text-14 d-flex justify-content-between">
                <span>Dashboard</span>
                <span class="pr-10 "><i class="fas fa-th-large"></i></span>
            </a>
        </li>
        <li class="mt-2">
            <a class="text-14 d-flex justify-content-between">
                <span>Student</span>
                <span class="pr-10 "><i class="fas fa-user-graduate"></i></span>
            </a>
        </li>
        <li class="mt-2">
            <a class="text-14 d-flex justify-content-between">
                <span>Teacher</span>
                <span class="pr-10 "><i class="fas fa-chalkboard-teacher"></i></span>
            </a>
        </li>
    </ul>
</nav>