.upload-container {
    width: 100%;
    height: 250px;
    background-color: lightgrey;
    position: relative;
}

.upload-container>h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-hover {
    background-color: gray;
}